html, body {
  box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#main-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#main-content {
	flex: 1;
}

footer {
	text-align: center;
	color: #888;
	margin: .5em;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	z-index: 99;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-item {
	background-color: #fefefe;
	cursor: pointer;
	border: 1px solid #eee;
	border-top: none;
}

.autocomplete-item:hover {
	background-color: #e9e9e9;
}

.item-inactive {
	padding: 5px;
}

.item-inactive .group {
	color: #777;
}

.item-active {
	padding: 5px;
	background-color: DodgerBlue !important;
	color: #fff;
}

.item-active .group {
	color: #ccc;
}

table, tr, td, th {
	border: 1px solid #888;
}
